

body, html
{
background: #D3CCE3;
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  
background: linear-gradient(to right, #E9E4F0, #D3CCE3);
margin: 0;
height: 100%;
}

h1{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

input,p{
position: absolute;
left:45%;
}

p{
  margin:30px;
  font-size: 14px;
}

#btn{
  position: absolute;
  left:56.5%;
}

ol{
  position: absolute;
  left:45.5%;
  padding: 10px;
}